@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: rgb(247, 187, 9);
  --color-secondary: rgb(218, 159, 33);
  --color-tertiaty: #000000;
}

a { 
  @apply text-gray-700;
}

a:hover {
  @apply border-b-2 border-gray-700;
}


.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.custom-bullet li {
  list-style-type: disc; 
  color: rgb(0, 0, 0); 
}

.custom-bullet li::marker {
  color: rgb(247, 187, 9);
}

.custom-legend .legend {
  font-size: 1.1rem !important; 
  font-weight: bold;
  background: rgba(22, 20, 20, 0.405) !important; 
  padding: 5px !important; 
  border-radius: 5px; 
  opacity: 1 !important; 
}


.carousel .control-next.control-arrow:before {
  border-left: 20px solid rgb(247, 187, 9) !important;
  border-top: 20px solid transparent !important;
  border-bottom: 20px solid transparent !important;
}

.carousel .control-arrow:before, 
.carousel.carousel-slider .control-arrow:before {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.carousel .control-next.control-arrow:hover:before{
  border-left: 20px solid rgb(200, 150, 0) !important; 
}

.carousel .control-prev.control-arrow:hover:before {
  border-right: 20px solid rgb(200, 150, 0) !important; 
}

.carousel .control-prev.control-arrow:before {
  border-right: 20px solid rgb(247, 187, 9) !important;
  border-top: 20px solid transparent !important;
  border-bottom: 20px solid transparent !important;
}

.carousel .control-arrow:before, 
.carousel.carousel-slider .control-arrow:before {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}


.carousel .control-arrow {
  background: none !important;
  opacity: 1 !important;
}

.carousel .control-arrow:hover {
  background: none;
}

.custom-carousel img {
  max-width: 100%;
  height: auto; 
}

.page-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gallery a {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  @apply border-b-2 border-none;
}

.gallery img {
  transition: opacity 0.3s ease;
}

.gallery img.loading {
  opacity: 0.5;
}
