@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: rgb(247, 187, 9);
  --color-secondary: rgb(218, 159, 33);
  --color-tertiaty: #000000;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
